body{
  margin: 0;
  background: #222;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}


header::after {
  content: '';
  display: table;
  clear: both;
}

header{
  /* background: #f3a633; */
  background: rgb(255, 248, 220);
}

.headerNav{
  padding: 0.5%;
  float: right;
  width: 80%;
}

.headerNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headerNav li {
  display: inline-block;
  margin: 0 10%;
}

.headerNav a {
  color: #f3a633;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.headerNav a:hover{
  color: rgb(5, 0, 3);
}

.headerNav a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  top: 0;
  width: 0%;
  transition: 0.2s;
}

.headerNav a:hover::before{
  width: 100%;
}

